

USE [master]
GO
/****** Object:  Database [QLPhongTro]    Script Date: 5/19/2019 1:29:48 AM ******/
CREATE DATABASE [QLPhongTro]
GO

USE [QLPhongTro]
GO




/****** Object:  Table [dbo].[DangNhap]    Script Date: 5/19/2019 1:29:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangNhap](
	[ID] [nvarchar](50) NULL,
	[PassWord] [nchar](10) NULL
) ON [PRIMARY]

GO
UPDATE STATISTICS [dbo].[DangNhap] WITH ROWCOUNT = 4, PAGECOUNT = 1
GO
/****** Object:  Table [dbo].[DichVu]    Script Date: 5/19/2019 1:29:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVu](
	[Id] [int] NOT NULL,
	[TenDichVu] [nvarchar](50) NULL,
	[Gia] [bigint] NULL,
 CONSTRAINT [PK_DichVu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GhiNho]    Script Date: 5/19/2019 1:29:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GhiNho](
	[ID] [nchar](10) NULL,
	[Pass] [nchar](10) NULL
) ON [PRIMARY]

GO
UPDATE STATISTICS [dbo].[GhiNho] WITH ROWCOUNT = 1, PAGECOUNT = 5
GO
/****** Object:  Table [dbo].[KhuVuc]    Script Date: 5/19/2019 1:29:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuVuc](
	[MaKhuVuc] [nchar](10) NOT NULL,
	[TenKhuVuc] [nvarchar](50) NULL,
 CONSTRAINT [PK_KhuVuc] PRIMARY KEY CLUSTERED 
(
	[MaKhuVuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LoaiPhong]    Script Date: 5/19/2019 1:29:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiPhong](
	[MaLoaiPhong] [nchar](10) NOT NULL,
	[TenLoaiPhong] [nvarchar](50) NULL,
	[DienTichPhong] [float] NULL,
	[DonGia] [float] NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_LoaiPhong] PRIMARY KEY CLUSTERED 
(
	[MaLoaiPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhieuThu]    Script Date: 5/19/2019 1:29:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuThu](
	[MaPT] [float] NOT NULL,
	[MaPhong] [nchar](10) NULL,
	[NgayLap] [date] NOT NULL,
	[NgayThu] [date] NULL,
	[TienNha] [bigint] NULL,
	[SkDien] [int] NULL,
	[TienDien] [bigint] NULL,
	[SkNuoc] [int] NULL,
	[TienNuoc] [bigint] NULL,
	[TongTien] [bigint] NULL,
	[TrangThai] [nvarchar](50) NULL,
 CONSTRAINT [PK_PhieuThu] PRIMARY KEY CLUSTERED 
(
	[MaPT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Phong]    Script Date: 5/19/2019 1:29:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[MaPhong] [nchar](10) NOT NULL,
	[MaLoaiPhong] [nchar](10) NOT NULL,
	[MaKhuVuc] [nchar](10) NOT NULL,
	[TenPhong] [nvarchar](50) NOT NULL,
	[Day] [nchar](10) NOT NULL,
	[TrangThai] [nvarchar](10) NOT NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_Phong] PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ThongTinDangKyPhong]    Script Date: 5/19/2019 1:29:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTinDangKyPhong](
	[Id] [int] NOT NULL,
	[Ho] [nvarchar](50) NULL,
	[Ten] [nvarchar](50) NULL,
	[GioiTinh] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
	[CMND] [nvarchar](50) NULL,
	[QueQuan] [nvarchar](max) NULL,
	[NgheNghiep] [nvarchar](50) NULL,
	[MaKhuVuc] [nchar](10) NULL,
	[MaLoaiPhong] [nchar](10) NULL,
 CONSTRAINT [PK_DangKyPhong] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ThongTinKhach]    Script Date: 5/19/2019 1:29:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTinKhach](
	[MaKhachTro] [nchar](10) NOT NULL,
	[Ho] [nvarchar](50) NULL,
	[Ten] [nvarchar](50) NULL,
	[GioiTinh] [nvarchar](50) NULL,
	[AnhNhanDien] [image] NULL,
	[NgaySinh] [date] NULL,
	[CMND] [nchar](10) NULL,
	[QueQuan] [nvarchar](50) NULL,
	[NgheNghiep] [nvarchar](50) NULL,
	[MaPhong] [nchar](10) NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_ThongTinKhach] PRIMARY KEY CLUSTERED 
(
	[MaKhachTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ThongTinThuePhong]    Script Date: 5/19/2019 1:29:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTinThuePhong](
	[MaHD] [nchar](10) NOT NULL,
	[MaKhachTro] [nchar](10) NOT NULL,
	[MaPhong] [nchar](10) NOT NULL,
	[NgayThue] [date] NOT NULL,
	[TienDatCoc] [bigint] NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_ThongTinThuePhong_1] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaKhachTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TraPhong]    Script Date: 5/19/2019 1:29:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TraPhong](
	[Id] [int] NOT NULL,
	[MaPhong] [nchar](10) NULL,
	[MaKhachTro] [nchar](10) NULL,
	[NgayTraPhong] [date] NULL,
 CONSTRAINT [PK_TraPhong] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[DangNhap] ([ID], [PassWord]) VALUES (N'KDC', N'1996      ')
INSERT [dbo].[DangNhap] ([ID], [PassWord]) VALUES (N'JR', N'123123    ')
INSERT [dbo].[DangNhap] ([ID], [PassWord]) VALUES (N'TL', N'123123    ')
INSERT [dbo].[DichVu] ([Id], [TenDichVu], [Gia]) VALUES (1, N'Điện', 2500)
INSERT [dbo].[DichVu] ([Id], [TenDichVu], [Gia]) VALUES (2, N'Nước', 15000)
INSERT [dbo].[DichVu] ([Id], [TenDichVu], [Gia]) VALUES (3, N'Wifi', 200000)
INSERT [dbo].[GhiNho] ([ID], [Pass]) VALUES (N'KDC       ', N'1996      ')
INSERT [dbo].[KhuVuc] ([MaKhuVuc], [TenKhuVuc]) VALUES (N'KV01      ', N'Q.Bình Tân')
INSERT [dbo].[KhuVuc] ([MaKhuVuc], [TenKhuVuc]) VALUES (N'KV02      ', N'Q.12')
INSERT [dbo].[KhuVuc] ([MaKhuVuc], [TenKhuVuc]) VALUES (N'KV03      ', N'Q.1')
INSERT [dbo].[LoaiPhong] ([MaLoaiPhong], [TenLoaiPhong], [DienTichPhong], [DonGia], [GhiChu]) VALUES (N'1         ', N'Nhỏ', 10, 1000000, NULL)
INSERT [dbo].[LoaiPhong] ([MaLoaiPhong], [TenLoaiPhong], [DienTichPhong], [DonGia], [GhiChu]) VALUES (N'2         ', N'Vừa', 20, 1500000, NULL)
INSERT [dbo].[LoaiPhong] ([MaLoaiPhong], [TenLoaiPhong], [DienTichPhong], [DonGia], [GhiChu]) VALUES (N'3         ', N'Lớn', 30, 2000000, NULL)
INSERT [dbo].[PhieuThu] ([MaPT], [MaPhong], [NgayLap], [NgayThu], [TienNha], [SkDien], [TienDien], [SkNuoc], [TienNuoc], [TongTien], [TrangThai]) VALUES (1, N'QBTA01    ', CAST(N'2017-05-24' AS Date), CAST(N'2017-05-24' AS Date), 1000000, 5, 12500, 5, 0, 1087500, N'Đã thu')
INSERT [dbo].[PhieuThu] ([MaPT], [MaPhong], [NgayLap], [NgayThu], [TienNha], [SkDien], [TienDien], [SkNuoc], [TienNuoc], [TongTien], [TrangThai]) VALUES (2, N'QBTB02    ', CAST(N'2017-05-24' AS Date), NULL, 1500000, 5, 12500, 5, 0, 1587500, N'Chưa thu')
INSERT [dbo].[PhieuThu] ([MaPT], [MaPhong], [NgayLap], [NgayThu], [TienNha], [SkDien], [TienDien], [SkNuoc], [TienNuoc], [TongTien], [TrangThai]) VALUES (3, N'QBTA01    ', CAST(N'2019-05-19' AS Date), NULL, 1000000, 50, 125000, 12, 180000, 1305000, N'Chưa thu')
INSERT [dbo].[Phong] ([MaPhong], [MaLoaiPhong], [MaKhuVuc], [TenPhong], [Day], [TrangThai], [GhiChu]) VALUES (N'Q12A01    ', N'3         ', N'KV02      ', N'Phòng A01', N'A         ', N'Đã thuê', NULL)
INSERT [dbo].[Phong] ([MaPhong], [MaLoaiPhong], [MaKhuVuc], [TenPhong], [Day], [TrangThai], [GhiChu]) VALUES (N'Q12B02    ', N'1         ', N'KV02      ', N'Phòng B02', N'B         ', N'Đã thuê', NULL)
INSERT [dbo].[Phong] ([MaPhong], [MaLoaiPhong], [MaKhuVuc], [TenPhong], [Day], [TrangThai], [GhiChu]) VALUES (N'Q12C03    ', N'1         ', N'KV02      ', N'Phòng C03', N'C         ', N'Đã thuê', NULL)
INSERT [dbo].[ThongTinDangKyPhong] ([Id], [Ho], [Ten], [GioiTinh], [NgaySinh], [CMND], [QueQuan], [NgheNghiep], [MaKhuVuc], [MaLoaiPhong]) VALUES (1, N'Nguyễn', N'Nhật', N'Nam', CAST(N'1996-10-02' AS Date), NULL, NULL, NULL, N'KV01      ', N'1         ')
INSERT [dbo].[ThongTinDangKyPhong] ([Id], [Ho], [Ten], [GioiTinh], [NgaySinh], [CMND], [QueQuan], [NgheNghiep], [MaKhuVuc], [MaLoaiPhong]) VALUES (3, N'D', N'A', N'Nữ', CAST(N'2017-05-03' AS Date), N'123456789', N'HCM', N'SV', N'KV02      ', N'1         ')
INSERT [dbo].[ThongTinKhach] ([MaKhachTro], [Ho], [Ten], [GioiTinh], [AnhNhanDien], [NgaySinh], [CMND], [QueQuan], [NgheNghiep], [MaPhong], [GhiChu]) VALUES (N'KT001     ', N'Hà Tuấn ', N'An', N'Nam', NULL, CAST(N'1995-01-01' AS Date), N'123456789 ', N'Hà Nội', N'Công Nhân', N'QBTA01    ', N'1')
INSERT [dbo].[ThongTinKhach] ([MaKhachTro], [Ho], [Ten], [GioiTinh], [AnhNhanDien], [NgaySinh], [CMND], [QueQuan], [NgheNghiep], [MaPhong], [GhiChu]) VALUES (N'KT002     ', N'Trần Quốc', N'Bảo', N'Nam', NULL, CAST(N'1996-01-01' AS Date), N'123456788 ', N'Hải Phòng', N'Công Nhân', N'QBTB02    ', N'1')
INSERT [dbo].[ThongTinKhach] ([MaKhachTro], [Ho], [Ten], [GioiTinh], [AnhNhanDien], [NgaySinh], [CMND], [QueQuan], [NgheNghiep], [MaPhong], [GhiChu]) VALUES (N'KT003     ', N'Trần Đức', N'Huy', N'Nam', NULL, CAST(N'1994-02-02' AS Date), N'123456787 ', N'Hà Nội', N'Công Nhân', N'QBTB02    ', N'1')
INSERT [dbo].[ThongTinThuePhong] ([MaHD], [MaKhachTro], [MaPhong], [NgayThue], [TienDatCoc], [GhiChu]) VALUES (N'5         ', N'KT008     ', N'Q12B02    ', CAST(N'2017-05-22' AS Date), NULL, NULL)
INSERT [dbo].[ThongTinThuePhong] ([MaHD], [MaKhachTro], [MaPhong], [NgayThue], [TienDatCoc], [GhiChu]) VALUES (N'6         ', N'KT009     ', N'Q12C03    ', CAST(N'2017-05-22' AS Date), NULL, NULL)
INSERT [dbo].[ThongTinThuePhong] ([MaHD], [MaKhachTro], [MaPhong], [NgayThue], [TienDatCoc], [GhiChu]) VALUES (N'7         ', N'KT010     ', N'QBTA01    ', CAST(N'2017-05-22' AS Date), NULL, NULL)
ALTER TABLE [dbo].[PhieuThu]  WITH CHECK ADD  CONSTRAINT [FK_PhieuThu_Phong] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhieuThu] CHECK CONSTRAINT [FK_PhieuThu_Phong]
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD  CONSTRAINT [FK_Phong_KhuVuc] FOREIGN KEY([MaKhuVuc])
REFERENCES [dbo].[KhuVuc] ([MaKhuVuc])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Phong] CHECK CONSTRAINT [FK_Phong_KhuVuc]
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD  CONSTRAINT [FK_Phong_LoaiPhong] FOREIGN KEY([MaLoaiPhong])
REFERENCES [dbo].[LoaiPhong] ([MaLoaiPhong])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Phong] CHECK CONSTRAINT [FK_Phong_LoaiPhong]
GO
ALTER TABLE [dbo].[ThongTinDangKyPhong]  WITH CHECK ADD  CONSTRAINT [FK_DangKyPhong_KhuVuc] FOREIGN KEY([MaKhuVuc])
REFERENCES [dbo].[KhuVuc] ([MaKhuVuc])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ThongTinDangKyPhong] CHECK CONSTRAINT [FK_DangKyPhong_KhuVuc]
GO
ALTER TABLE [dbo].[ThongTinDangKyPhong]  WITH CHECK ADD  CONSTRAINT [FK_DangKyPhong_LoaiPhong] FOREIGN KEY([MaLoaiPhong])
REFERENCES [dbo].[LoaiPhong] ([MaLoaiPhong])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ThongTinDangKyPhong] CHECK CONSTRAINT [FK_DangKyPhong_LoaiPhong]
GO
ALTER TABLE [dbo].[ThongTinThuePhong]  WITH CHECK ADD  CONSTRAINT [FK_ThongTinThuePhong_Phong] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ThongTinThuePhong] CHECK CONSTRAINT [FK_ThongTinThuePhong_Phong]
GO
ALTER TABLE [dbo].[ThongTinThuePhong]  WITH CHECK ADD  CONSTRAINT [FK_ThongTinThuePhong_ThongTinKhach] FOREIGN KEY([MaKhachTro])
REFERENCES [dbo].[ThongTinKhach] ([MaKhachTro])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ThongTinThuePhong] CHECK CONSTRAINT [FK_ThongTinThuePhong_ThongTinKhach]
GO
ALTER TABLE [dbo].[TraPhong]  WITH CHECK ADD  CONSTRAINT [FK_TraPhong_Phong] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TraPhong] CHECK CONSTRAINT [FK_TraPhong_Phong]
GO
ALTER TABLE [dbo].[TraPhong]  WITH CHECK ADD  CONSTRAINT [FK_TraPhong_ThongTinKhach] FOREIGN KEY([MaKhachTro])
REFERENCES [dbo].[ThongTinKhach] ([MaKhachTro])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TraPhong] CHECK CONSTRAINT [FK_TraPhong_ThongTinKhach]
GO
/****** Object:  StoredProcedure [dbo].[ChangePass]    Script Date: 5/19/2019 1:29:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ChangePass] (@ID nvarchar(50), @Pass nchar (10))
as
begin
	Update DangNhap
	Set PassWord = @Pass
	Where ID = @ID
end

GO
/****** Object:  StoredProcedure [dbo].[Converdatetime]    Script Date: 5/19/2019 1:29:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[Converdatetime]
as

SELECT CONVERT(varchar(10),k.NgayThue,103) as [Ngày sinh]
From ThongTinThuePhong k

GO
/****** Object:  StoredProcedure [dbo].[DongTien]    Script Date: 5/19/2019 1:29:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[DongTien] (@ID nvarchar(50))
as
begin
	UPDATE PhieuThu 
	SET NgayThu = GETDATE(), TrangThai = N'Đã thu' 
	WHERE MaPT = @ID
end
GO
/****** Object:  StoredProcedure [dbo].[SaveP]    Script Date: 5/19/2019 1:29:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SaveP](@ID nchar (10), @Pass nchar (10))
as
		DELETE FROM GhiNho
		INSERT INTO GhiNho (ID, Pass) Values (@ID, @Pass)

GO
/****** Object:  StoredProcedure [dbo].[Xoa]    Script Date: 5/19/2019 1:29:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Xoa]
as
	DELETE from GhiNho

GO
/****** Object:  Statistic [_WA_Sys_00000001_0425A276]    Script Date: 5/19/2019 1:29:48 AM ******/
CREATE STATISTICS [_WA_Sys_00000001_0425A276] ON [dbo].[DangNhap]([ID]) WITH STATS_STREAM = 0x01000000010000000000000000000000AD8453390000000097020000000000005702000000000000E702FFFFE7000000640000000000000008D00034000000000700000011EBB5007BA7000004000000000000000400000000000000000000000000803E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000004000000040000000100000010000000000090400000804000000000000090400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000008E00000000000000E300000000000000EB0000000000000020000000000000003B0000000000000058000000000000007300000000000000300010000000803F000000000000803F04000001001B004A005200300010000000803F000000000000803F04000001001D004B0044004300300010000000803F000000000000803F04000001001B0051004C00300010000000803F000000000000803F04000001001B0054004C00FF0100000000000000040000000400000028000000280000000000000000000000090000004A0052004B004400430051004C0054004C000500000040000000008102000000810302000081020500000102070000000400000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000002_0425A276]    Script Date: 5/19/2019 1:29:48 AM ******/
CREATE STATISTICS [_WA_Sys_00000002_0425A276] ON [dbo].[DangNhap]([PassWord]) WITH STATS_STREAM = 0x0100000001000000000000000000000094C3A7B00000000076020000000000003602000000000000EF027E6BEF000000140000000000000008D00034000000000700000011EBB5007BA7000004000000000000000400000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000240000000000A04100008040000000000000A0410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000005E00000000000000C200000000000000CA00000000000000100000000000000037000000000000001000240000004040000000000000803F3100320033003100320033002000200020002000040000100024000000803F000000000000803F3100390039003600200020002000200020002000040000FF01000000000000000400000002000000280000002800000000000000000000001300000031003200330031003200330020002000200020003900390036002000200020002000200020000400000040000000004001000000830901000001090A0000000400000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000002_023D5A04]    Script Date: 5/19/2019 1:29:48 AM ******/
CREATE STATISTICS [_WA_Sys_00000002_023D5A04] ON [dbo].[DichVu]([TenDichVu]) WITH STATS_STREAM = 0x01000000010000000000000000000000381382F5000000007F020000000000003F02000000000000E7027E6BE7000000640000000000000008D0003400000000070000002826D2007DA700000300000000000000030000000000000000000000ABAAAA3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000030000000100000010000000000000410000404000000000000000410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000007500000000000000CB00000000000000D300000000000000180000000000000037000000000000005600000000000000300010000000803F000000000000803F04000001001F0010016900C71E6E00300010000000803F000000000000803F04000001001F004E00B001DB1E6300300010000000803F000000000000803F04000001001F005700690066006900FF01000000000000000300000003000000280000002800000000000000000000000C00000010016900C71E6E004E00B001DB1E63005700690066006900040000004000000000810400000081040400000104080000000300000000000000
GO
/****** Object:  Statistic [PK_DichVu]    Script Date: 5/19/2019 1:29:48 AM ******/
UPDATE STATISTICS [dbo].[DichVu]([PK_DichVu]) WITH STATS_STREAM = 0x01000000010000000000000000000000C62BF688000000000902000000000000C901000000000000380300003800000004000A000000000000000000E7000000070000005A13D4007DA70000040000000000000004000000000000000000803F0000803E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000030000000100000014000000000080400000804000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000005D00000000000000650000000000000018000000000000002F000000000000004600000000000000100014000000803F000000000000803F01000000040000100014000000803F0000803F0000803F03000000040000100014000000803F000000000000803F040000000400000400000000000000, ROWCOUNT = 4, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_7F60ED59]    Script Date: 5/19/2019 1:29:48 AM ******/
CREATE STATISTICS [_WA_Sys_00000002_7F60ED59] ON [dbo].[KhuVuc]([TenKhuVuc]) WITH STATS_STREAM = 0x010000000100000000000000000000006107B9FE00000000A2030000000000006203000000000000E7020000E7000000640000000000000008D000340000000007000000AD6AEE007DA700000900000000000000090000000000000000000000398EE33D000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000008000000080000000100000010000000398E2341000010410000803F398E23410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000005401000000000000EE01000000000000F60100000000000040000000000000005D000000000000007C000000000000009900000000000000B600000000000000D300000000000000FE000000000000002B01000000000000300010000000803F000000000000803F04000001001D0051002E003100300010000000803F000000000000803F04000001001F0051002E0031003200300010000000803F000000000000803F04000001001D0051002E003300300010000000803F000000000000803F04000001001D0051002E003400300010000000803F000000000000803F04000001001D0051002E003700300010000000803F000000000000803F04000001002B0051002E004200EC006E00680020005400E2006E00300010000000803F000000000000803F04000001002D0051002E0050006800FA0020004E0068007500AD1E6E00300010000000803F000000000000803F0400000100290051002E0054006800E71E20001001E91E6300FF01000000010000000900000009000000280000002800000000000000000000001F00000051002E00310032003300340037004200EC006E00680020005400E2006E0050006800FA0020004E0068007500AD1E6E0054006800E71E20001001E91E63000A00000040000000004002000000C1010200000101030000810104000081010500008101060000810807000081090F00000107180000000900000000000000
GO
/****** Object:  Statistic [PK_KhuVuc]    Script Date: 5/19/2019 1:29:48 AM ******/
UPDATE STATISTICS [dbo].[KhuVuc]([PK_KhuVuc]) WITH STATS_STREAM = 0x01000000010000000000000000000000BBE00BB80000000084030000000000004403000000000000EF030000EF000000140000000000000008D0003400000000070000007BD4570167A70000090000000000000009000000000000000000803F398EE33D0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000050000000500000001000000240000000000A04100001041000000000000A041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000EB00000000000000D001000000000000D80100000000000028000000000000004F0000000000000076000000000000009D00000000000000C400000000000000100024000000803F000000000000803F4B00560030003100200020002000200020002000040000100024000000803F0000803F0000803F4B00560030003300200020002000200020002000040000100024000000803F0000803F0000803F4B00560030003500200020002000200020002000040000100024000000803F0000803F0000803F4B00560030003700200020002000200020002000040000100024000000803F0000803F0000803F4B00560030003900200020002000200020002000040000FF0100000000000000090000000900000028000000280000000000000000000000420000004B00560030003100200020002000200020002000320020002000200020002000200033002000200020002000200020003400200020002000200020002000350020002000200020002000200036002000200020002000200020003700200020002000200020002000380020002000200020002000200039002000200020002000200020000B00000040000000004003000000810703000081070A00008107110000810718000081071F0000810726000081072D0000810734000001073B0000000900000000000000, ROWCOUNT = 8, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_LoaiPhong]    Script Date: 5/19/2019 1:29:48 AM ******/
UPDATE STATISTICS [dbo].[LoaiPhong]([PK_LoaiPhong]) WITH STATS_STREAM = 0x010000000100000000000000000000000C565624000000008C020000000000004C02000000000000EF037E6BEF000000140000000000000008D0003400000000070000007BD4570167A70000030000000000000003000000000000000000803FABAAAA3E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000240000000000A04100004040000000000000A0410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000005E00000000000000D800000000000000E00000000000000010000000000000003700000000000000100024000000803F000000000000803F3100200020002000200020002000200020002000040000100024000000803F0000803F0000803F3300200020002000200020002000200020002000040000FF01000000000000000300000003000000280000002800000000000000000000001E000000310020002000200020002000200020002000200032002000200020002000200020002000200020003300200020002000200020002000200020002000040000004000000000810A000000810A0A0000010A140000000300000000000000, ROWCOUNT = 3, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_32E0915F]    Script Date: 5/19/2019 1:29:48 AM ******/
CREATE STATISTICS [_WA_Sys_00000002_32E0915F] ON [dbo].[PhieuThu]([MaPhong]) WITH STATS_STREAM = 0x01000000010000000000000000000000899380E50000000072020000000000003202000000000000EF020000EF000000140000000000000008D0003400000000070000005ACC4A017DA7000002000000000000000200000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000240000000000A04100000040000000000000A0410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000005E00000000000000BE00000000000000C60000000000000010000000000000003700000000000000100024000000803F000000000000803F5100420054004100300031002000200020002000040000100024000000803F000000000000803F5100420054004200300032002000200020002000040000FF010000000000000002000000020000002800000028000000000000000000000011000000510042005400410030003100200020002000200042003000320020002000200020000400000040000000004003000000810703000001070A0000000200000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_32E0915F]    Script Date: 5/19/2019 1:29:48 AM ******/
CREATE STATISTICS [_WA_Sys_00000003_32E0915F] ON [dbo].[PhieuThu]([NgayLap]) WITH STATS_STREAM = 0x01000000010000000000000000000000D69BEE5F00000000CA010000000000008A0100000000000028030C062800000003000A000000000000000000FFFFFFFF07000000AAF44A017DA7000002000000000000000200000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000013000000000040400000004000000000000040400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001E00000000000000260000000000000008000000000000001000130000000040000000000000803FD83C0B0400000200000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_32E0915F]    Script Date: 5/19/2019 1:29:48 AM ******/
CREATE STATISTICS [_WA_Sys_00000004_32E0915F] ON [dbo].[PhieuThu]([NgayThu]) WITH STATS_STREAM = 0x010000000100000000000000000000008230A20900000000CA010000000000008A0100000000000028020C062800000003000A000000000000000000FFFFFFFF070000005E6650017DA7000002000000000000000200000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000130000000000C03F000000400000803F0000C03F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001E0000000000000026000000000000000800000000000000100013000000803F000000000000803FD83C0B0400000200000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000005_32E0915F]    Script Date: 5/19/2019 1:29:48 AM ******/
CREATE STATISTICS [_WA_Sys_00000005_32E0915F] ON [dbo].[PhieuThu]([TienNha]) WITH STATS_STREAM = 0x0100000001000000000000000000000007F8B16000000000F201000000000000B2010000000000007F0200007F0000000800130000000000000000000000000007000000546650017DA7000002000000000000000200000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000180000000000004100000040000000000000004100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001100000000000000000000000000000046000000000000004E0000000000000010000000000000002B00000000000000100018000000803F000000000000803F40420F0000000000040000100018000000803F000000000000803F60E31600000000000400000200000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000006_32E0915F]    Script Date: 5/19/2019 1:29:48 AM ******/
CREATE STATISTICS [_WA_Sys_00000006_32E0915F] ON [dbo].[PhieuThu]([SkDien]) WITH STATS_STREAM = 0x010000000100000000000000000000007E6EF0BE00000000CB010000000000008B01000000000000380200003800000004000A0000000000000000000100000007000000546650017DA7000002000000000000000200000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000004000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F00000000000000270000000000000008000000000000001000140000000040000000000000803F050000000400000200000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000007_32E0915F]    Script Date: 5/19/2019 1:29:48 AM ******/
CREATE STATISTICS [_WA_Sys_00000007_32E0915F] ON [dbo].[PhieuThu]([TienDien]) WITH STATS_STREAM = 0x01000000010000000000000000000000D10D0DF100000000CF010000000000008F010000000000007F0200007F0000000800130000000000000000000100000007000000506650017DA7000002000000000000000200000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000180000000000004100000040000000000000004100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001100000000000000000000000000000023000000000000002B0000000000000008000000000000001000180000000040000000000000803FD4300000000000000400000200000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000008_32E0915F]    Script Date: 5/19/2019 1:29:48 AM ******/
CREATE STATISTICS [_WA_Sys_00000008_32E0915F] ON [dbo].[PhieuThu]([SkNuoc]) WITH STATS_STREAM = 0x010000000100000000000000000000008FB585B700000000CB010000000000008B01000000000000380200003800000004000A0000000000000000000100000007000000506650017DA7000002000000000000000200000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000004000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F00000000000000270000000000000008000000000000001000140000000040000000000000803F050000000400000200000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000009_32E0915F]    Script Date: 5/19/2019 1:29:48 AM ******/
CREATE STATISTICS [_WA_Sys_00000009_32E0915F] ON [dbo].[PhieuThu]([TienNuoc]) WITH STATS_STREAM = 0x01000000010000000000000000000000BC48D94E00000000CF010000000000008F010000000000007F0200007F0000000800130000000000000000000100000007000000466650017DA7000002000000000000000200000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000180000000000004100000040000000000000004100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001100000000000000000000000000000023000000000000002B0000000000000008000000000000001000180000000040000000000000803F00000000000000000400000200000000000000
GO
/****** Object:  Statistic [_WA_Sys_0000000A_32E0915F]    Script Date: 5/19/2019 1:29:48 AM ******/
CREATE STATISTICS [_WA_Sys_0000000A_32E0915F] ON [dbo].[PhieuThu]([TongTien]) WITH STATS_STREAM = 0x0100000001000000000000000000000059917B5600000000F201000000000000B2010000000000007F0200007F00000008001300000000000000000000000000070000003D6650017DA7000002000000000000000200000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000180000000000004100000040000000000000004100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001100000000000000000000000000000046000000000000004E0000000000000010000000000000002B00000000000000100018000000803F000000000000803F0C98100000000000040000100018000000803F000000000000803F2C391800000000000400000200000000000000
GO
/****** Object:  Statistic [_WA_Sys_0000000B_32E0915F]    Script Date: 5/19/2019 1:29:48 AM ******/
CREATE STATISTICS [_WA_Sys_0000000B_32E0915F] ON [dbo].[PhieuThu]([TrangThai]) WITH STATS_STREAM = 0x01000000010000000000000000000000D168E25C000000002702000000000000E701000000000000E7020000E7000000640000000000000008D000340000000007000000A1F44A017DA7000002000000000000000200000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000080410000004000000000000080410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000002F0000000000000073000000000000007B0000000000000008000000000000003000100000000040000000000000803F0400000100270043006800B00161002000740068007500FF01000000000000000200000001000000280000002800000000000000000000000800000043006800B001610020007400680075000200000040000000000208000000000200000000000000
GO
/****** Object:  Statistic [PK_PhieuThu]    Script Date: 5/19/2019 1:29:48 AM ******/
UPDATE STATISTICS [dbo].[PhieuThu]([PK_PhieuThu]) WITH STATS_STREAM = 0x01000000010000000000000000000000FFAE937600000000F201000000000000B2010000000000003E0300003E00000008003500000000000000000000000000070000004CCC4A017DA7000002000000000000000200000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000180000000000004100000040000000000000004100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001100000000000000000000000000000046000000000000004E0000000000000010000000000000002B00000000000000100018000000803F000000000000803F000000000000F03F040000100018000000803F000000000000803F00000000000000400400000200000000000000, ROWCOUNT = 3, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_09DE7BCC]    Script Date: 5/19/2019 1:29:48 AM ******/
CREATE STATISTICS [_WA_Sys_00000002_09DE7BCC] ON [dbo].[Phong]([MaLoaiPhong]) WITH STATS_STREAM = 0x010000000100000000000000000000000E544E6F000000008C020000000000004C02000000000000EF030000EF000000140000000000000008D0003400000000070000007BD4570167A70000060000000000000006000000000000000000803FABAAAA3E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000240000000000A0410000C040000000000000A0410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000005E00000000000000D800000000000000E000000000000000100000000000000037000000000000001000240000008040000000000000803F3100200020002000200020002000200020002000040000100024000000803F0000803F0000803F3300200020002000200020002000200020002000040000FF01000000000000000600000003000000280000002800000000000000000000001E000000310020002000200020002000200020002000200032002000200020002000200020002000200020003300200020002000200020002000200020002000040000004000000000840A000000810A0A0000010A140000000600000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_09DE7BCC]    Script Date: 5/19/2019 1:29:48 AM ******/
CREATE STATISTICS [_WA_Sys_00000003_09DE7BCC] ON [dbo].[Phong]([MaKhuVuc]) WITH STATS_STREAM = 0x010000000100000000000000000000003DB390570000000072020000000000003202000000000000EF030000EF000000140000000000000008D00034EF000000070000007BD4570167A7000006000000000000000600000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000240000000000A0410000C040000000000000A0410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000005E00000000000000BE00000000000000C600000000000000100000000000000037000000000000001000240000004040000000000000803F4B005600300031002000200020002000200020000400001000240000004040000000000000803F4B00560030003200200020002000200020002000040000FF0100000000000000060000000200000028000000280000000000000000000000110000004B0056003000310020002000200020002000200032002000200020002000200020000400000040000000004003000000830703000003070A0000000600000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_09DE7BCC]    Script Date: 5/19/2019 1:29:48 AM ******/
CREATE STATISTICS [_WA_Sys_00000004_09DE7BCC] ON [dbo].[Phong]([TenPhong]) WITH STATS_STREAM = 0x01000000010000000000000000000000E66E3E8A00000000E502000000000000A502000000000000E7030000E7000000640000000000000008D000340000000007000000D5CFB8007BA7000006000000000000000600000000000000000000000000803E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000004000000040000000100000010000000000090410000C0400000000000009041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000C400000000000000310100000000000039010000000000002000000000000000490000000000000072000000000000009B000000000000003000100000000040000000000000803F0400000100290050006800F2006E0067002000410030003100300010000000803F000000000000803F0400000100290050006800F2006E00670020004100300032003000100000000040000000000000803F0400000100290050006800F2006E0067002000420030003200300010000000803F000000000000803F0400000100290050006800F2006E0067002000430030003300FF01000000000000000600000004000000280000002800000000000000000000001000000050006800F2006E006700200041003000310032004200300032004300300033000700000040000000004006000000C0020600008201080000010109000082030A000001030D0000000600000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000006_09DE7BCC]    Script Date: 5/19/2019 1:29:48 AM ******/
CREATE STATISTICS [_WA_Sys_00000006_09DE7BCC] ON [dbo].[Phong]([TrangThai]) WITH STATS_STREAM = 0x01000000010000000000000000000000BEFE0117000000005B020000000000001B02000000000000E7030000E7000000140000000000000008D0003400000000070000009DEBB5007BA7000006000000000000000600000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000010000000000040410000C04000000000000040410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000005600000000000000A700000000000000AF00000000000000100000000000000035000000000000003000100000004040000000000000803F040000010025001001E3002000740068007500EA003000100000004040000000000000803F0400000100210054007200D11E6E006700FF01000000000000000600000002000000280000002800000000000000000000000C0000001001E3002000740068007500EA0054007200D11E6E00670003000000400000000083070000000305070000000600000000000000
GO
/****** Object:  Statistic [PK_Phong]    Script Date: 5/19/2019 1:29:48 AM ******/
UPDATE STATISTICS [dbo].[Phong]([PK_Phong]) WITH STATS_STREAM = 0x01000000010000000000000000000000FBDA49B40000000071030000000000003103000000000000EF030000EF000000140000000000000008D0003430001000070000007BD4570167A700000600000000000000060000000000000000000000ABAA2A3E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000060000000600000001000000240000000000A0410000C040000000000000A0410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000001A01000000000000BD01000000000000C501000000000000300000000000000057000000000000007E00000000000000A500000000000000CC00000000000000F300000000000000100024000000803F000000000000803F5100310032004100300031002000200020002000040000100024000000803F000000000000803F5100310032004200300032002000200020002000040000100024000000803F000000000000803F5100310032004300300033002000200020002000040000100024000000803F000000000000803F5100420054004100300031002000200020002000040000100024000000803F000000000000803F5100420054004100300032002000200020002000040000100024000000803F000000000000803F5100420054004200300032002000200020002000040000FF0100000000000000060000000600000028000000280000000000000000000000210000005100310032004100300031002000200020002000420030003200200020002000200043003000330020002000200020004200540041003000310020002000200020000B00000040000000004001000000C002010000810703000081070A000001071100004002180000C0021A000081051C000001050C000001070A0000000600000000000000, ROWCOUNT = 6, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000009_29572725]    Script Date: 5/19/2019 1:29:48 AM ******/
CREATE STATISTICS [_WA_Sys_00000009_29572725] ON [dbo].[ThongTinDangKyPhong]([MaKhuVuc]) WITH STATS_STREAM = 0x010000000100000000000000000000007E4ADD17000000002B02000000000000EB01000000000000EF020028EF000000140000000000000008D0003400310032070000008660E0007BA7000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000240000000000A0410000803F000000000000A0410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000002F0000000000000077000000000000007F000000000000000800000000000000100024000000803F000000000000803F4B00560030003100200020002000200020002000040000FF01000000000000000100000001000000280000002800000000000000000000000A0000004B00560030003100200020002000200020002000020000004000000000010A000000000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_0000000A_29572725]    Script Date: 5/19/2019 1:29:48 AM ******/
CREATE STATISTICS [_WA_Sys_0000000A_29572725] ON [dbo].[ThongTinDangKyPhong]([MaLoaiPhong]) WITH STATS_STREAM = 0x01000000010000000000000000000000AAE15249000000002B02000000000000EB01000000000000EF020028EF000000140000000000000008D0003400310032070000008660E0007BA7000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000240000000000A0410000803F000000000000A0410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000002F0000000000000077000000000000007F000000000000000800000000000000100024000000803F000000000000803F3100200020002000200020002000200020002000040000FF01000000000000000100000001000000280000002800000000000000000000000A0000003100200020002000200020002000200020002000020000004000000000010A000000000100000000000000
GO
/****** Object:  Statistic [PK_DangKyPhong]    Script Date: 5/19/2019 1:29:48 AM ******/
UPDATE STATISTICS [dbo].[ThongTinDangKyPhong]([PK_DangKyPhong]) WITH STATS_STREAM = 0x010000000100000000000000000000008B47BC3600000000CB010000000000008B01000000000000380300283800000004000A00000000000000000000310032070000008160E0007BA7000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F010000000400000100000000000000, ROWCOUNT = 2, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_0519C6AF]    Script Date: 5/19/2019 1:29:48 AM ******/
CREATE STATISTICS [_WA_Sys_00000002_0519C6AF] ON [dbo].[ThongTinKhach]([Ho]) WITH STATS_STREAM = 0x01000000010000000000000000000000B04C72BA00000000C7030000000000008703000000000000E7020000E7000000640000000000000008D000340100000007000000974EC4007BA70000080000000000000008000000000000000000803F0000003E00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000700000007000000010000001000000000008041000000410000000000008041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000430100000000000013020000000000001B0200000000000038000000000000004B0000000000000074000000000000009B00000000000000C200000000000000F3000000000000001A01000000000000100010000000803F000000000000803F040000300010000000803F0000803F0000803F040000010029001001B71E6E00670020004D0069006E006800300010000000803F000000000000803F04000001002700100169006E0068002000560003016E00300010000000803F000000000000803F040000010027004800E000200054007500A51E6E002000300010000000803F000000000000803F040000010031004E00670075007900C51E6E00200050006800B001A1016E006700300010000000803F000000000000803F0400000100270054007200A71E6E0020001001E91E6300300010000000803F000000000000803F0400000100290054007200A71E6E00200051007500D11E6300FF01000000000000000800000008000000280000002800000000000000000000003A0000004200F900690020005100750061006E0067001001B71E6E00670020004D0069006E00680069006E0068002000560003016E004800E000200054007500A51E6E0020004E00670075007900C51E6E00200050006800B001A1016E00670054007200A71E6E0020001001E91E630051007500D11E63000A00000041000000008109000000C00109000081080A000001071200008108190000810D21000040052E000081033300000104360000000800000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_0519C6AF]    Script Date: 5/19/2019 1:29:48 AM ******/
CREATE STATISTICS [_WA_Sys_00000003_0519C6AF] ON [dbo].[ThongTinKhach]([Ten]) WITH STATS_STREAM = 0x010000000100000000000000000000002911D433000000001703000000000000D702000000000000E7020C02E7000000640000000000000008D00034FFFFFFFF07000000974EC4007BA70000080000000000000008000000000000000000803F0000003E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000060000000600000001000000100000000000C84000000041000000000000C840000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000DC0000000000000063010000000000006B010000000000003000000000000000430000000000000060000000000000007F000000000000009C00000000000000BB00000000000000100010000000803F000000000000803F040000300010000000803F0000803F0000803F04000001001D004200A31E6F00300010000000803F000000000000803F04000001001F004800B0016E006700300010000000803F000000000000803F04000001001D00480075007900300010000000803F0000803F0000803F04000001001F004E006700CD1E6300300010000000803F000000000000803F040000010021005100750061006E006700FF01000000000000000800000008000000280000002800000000000000000000001800000041006E004200A31E6F004800B0016E006700750079004D0069006E0068004E006700CD1E63005100750061006E00670009000000410000000081020000008103020000C0010500008102090000010306000081040B000081040F00000105130000000800000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_0519C6AF]    Script Date: 5/19/2019 1:29:48 AM ******/
CREATE STATISTICS [_WA_Sys_00000004_0519C6AF] ON [dbo].[ThongTinKhach]([GioiTinh]) WITH STATS_STREAM = 0x010000000100000000000000000000003BC49A5300000000B2020000000000007202000000000000E7021300E7000000640000000000000008D000340100000007000000974EC4007BA700000800000000000000080000000000000000000000ABAAAA3E00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000300000003000000010000001000000000001C41000000410000000000001C410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000008D00000000000000FE000000000000000601000000000000180000000000000055000000000000007200000000000000300010000000803F000000000000803F04000001003D004D0061007900200032003200200032003000310037002000310031003A003500330041004D00300010000000C040000000000000803F04000001001D004E0061006D00300010000000803F000000000000803F04000001001B004E00EF1EFF0100000000000000080000000300000028000000280000000000000000000000170000004D0061007900200032003200200032003000310037002000310031003A003500330041004D004E0061006D00EF1E0500000040000000008113000000400113000086021400000101160000000800000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000005_0519C6AF]    Script Date: 5/19/2019 1:29:48 AM ******/
CREATE STATISTICS [_WA_Sys_00000005_0519C6AF] ON [dbo].[ThongTinKhach]([AnhNhanDien]) WITH STATS_STREAM = 0x01000000010000000000000000000000A4A8BFE000000000A40100000000000064010000000000002202080022000000FFFF000000000000000000000067007507000000974EC4007BA7000008000000000000000800000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000100000000000000000000041000000410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000008000000000000000800000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000006_0519C6AF]    Script Date: 5/19/2019 1:29:48 AM ******/
CREATE STATISTICS [_WA_Sys_00000006_0519C6AF] ON [dbo].[ThongTinKhach]([NgaySinh]) WITH STATS_STREAM = 0x010000000100000000000000000000008854DB2C000000009C020000000000005C02000000000000280200002800000003000A0000000000000000000000000007000000974EC4007BA7000008000000000000000800000000000000000000000000003E00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000800000008000000010000001300000000004040000000410000000000004040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000011000000000000000000000000000000F000000000000000F800000000000000400000000000000056000000000000006C0000000000000082000000000000009800000000000000AE00000000000000C400000000000000DA00000000000000100013000000803F000000000000803F5B950A040000100013000000803F000000000000803F11170B040000100013000000803F000000000000803F9C180B040000100013000000803F000000000000803F981B0B040000100013000000803F000000000000803FC01C0B040000100013000000803F000000000000803FE51C0B040000100013000000803F000000000000803F521E0B040000100013000000803F000000000000803FD6220B0400000800000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000007_0519C6AF]    Script Date: 5/19/2019 1:29:48 AM ******/
CREATE STATISTICS [_WA_Sys_00000007_0519C6AF] ON [dbo].[ThongTinKhach]([CMND]) WITH STATS_STREAM = 0x010000000100000000000000000000003577D8D6000000003B03000000000000FB02000000000000EF020000EF000000140000000000000008D000340000000007000000974EC4007BA70000080000000000000008000000000000000000803F0000003E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000050000000500000001000000240000000000A04100000041000000000000A041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000EB0000000000000087010000000000008F0100000000000028000000000000004F0000000000000076000000000000009D00000000000000C400000000000000100024000000803F000000000000803F2000200020002000200020002000200020002000040000100024000000803F000000000000803F3100320033003400350036003700380033002000040000100024000000803F0000803F0000803F3100320033003400350036003700380035002000040000100024000000803F0000803F0000803F3100320033003400350036003700380037002000040000100024000000803F0000803F0000803F3100320033003400350036003700380039002000040000FF010000000000000008000000080000002800000028000000000000000000000020000000200020002000200020002000200020002000200031003200330034003500360037003800330020003400200035002000360020003700200038002000390020000A0000004000000000810A00000040080A0000810212000081021400008102160000810218000081021A000081021C000001021E0000000800000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000008_0519C6AF]    Script Date: 5/19/2019 1:29:48 AM ******/
CREATE STATISTICS [_WA_Sys_00000008_0519C6AF] ON [dbo].[ThongTinKhach]([QueQuan]) WITH STATS_STREAM = 0x0100000001000000000000000000000073D6E3FC0000000042030000000000000203000000000000E7020034E7000000640000000000000008D000340800000007000000974EC4007BA70000080000000000000008000000000000000000803F2549123E00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000600000006000000010000001000000000003041000000410000000000003041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000F4000000000000008E0100000000000096010000000000003000000000000000430000000000000068000000000000008B00000000000000B400000000000000D100000000000000100010000000803F000000000000803F040000300010000000803F0000803F0000803F040000010025001001E00020004E00B51E6E0067003000100000000040000000000000803F040000010023004800E00020004E00D91E6900300010000000803F000000000000803F040000010029004800A31E6900200050006800F2006E006700300010000000803F000000000000803F04000001001D0048007500BF1E300010000000803F000000000000803F04000001002300540070002E00480043004D00FF0100000000000000080000000700000028000000280000000000000000000000240000004300A71E6E00200054006800A1011001E00020004E00B51E6E0067004800E00020004E00D91E6900A31E6900200050006800F2006E0067007500BF1E540070002E00480043004D0008000000410000000081070000008107070000C0010E000082050F0000810814000001021C000001061E0000000800000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000009_0519C6AF]    Script Date: 5/19/2019 1:29:48 AM ******/
CREATE STATISTICS [_WA_Sys_00000009_0519C6AF] ON [dbo].[ThongTinKhach]([NgheNghiep]) WITH STATS_STREAM = 0x01000000010000000000000000000000E9BFAB820000000067020000000000002702000000000000E7027E6BE7000000640000000000000008D000340000000007000000974EC4007BA7000008000000000000000800000000000000000000000000003F00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000002000000010000001000000000008A41000000410000000000008A410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000005C00000000000000B300000000000000BB0000000000000010000000000000003900000000000000300010000000E040000000000000803F040000010029004300F4006E00670020004E006800E2006E00300010000000803F000000000000803F04000001002300510042005400410030003200FF01000000000000000800000002000000280000002800000000000000000000000F0000004300F4006E00670020004E006800E2006E0051004200540041003000320003000000400000000087090000000106090000000800000000000000
GO
/****** Object:  Statistic [_WA_Sys_0000000A_0519C6AF]    Script Date: 5/19/2019 1:29:48 AM ******/
CREATE STATISTICS [_WA_Sys_0000000A_0519C6AF] ON [dbo].[ThongTinKhach]([MaPhong]) WITH STATS_STREAM = 0x01000000010000000000000000000000EE5E8A890000000080030000000000004003000000000000EF020000EF000000140000000000000008D000340000000007000000974EC4007BA700000800000000000000080000000000000000000000ABAA2A3E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000060000000600000001000000240000000000A04100000041000000000000A0410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000001A01000000000000CC01000000000000D401000000000000300000000000000057000000000000007E00000000000000A500000000000000CC00000000000000F300000000000000100024000000803F000000000000803F3100200020002000200020002000200020002000040000100024000000803F000000000000803F51004200540041003000310020002000200020000400001000240000004040000000000000803F5100420054004200300032002000200020002000040000100024000000803F000000000000803F5100470056004100300031002000200020002000040000100024000000803F000000000000803F5100470056004200300032002000200020002000040000100024000000803F000000000000803F5100470056004300300033002000200020002000040000FF01000000000000000800000006000000280000002800000000000000000000002B00000031002000200020002000200020002000200020005100420054004100300031002000200020002000420030003200200020002000200047005600410030003100200020002000200043003000330020002000200020000A0000004000000000810A00000040010A0000C0020B000081070D0000030714000040021B000081071D000081071400000107240000000800000000000000
GO
/****** Object:  Statistic [_WA_Sys_0000000B_0519C6AF]    Script Date: 5/19/2019 1:29:48 AM ******/
CREATE STATISTICS [_WA_Sys_0000000B_0519C6AF] ON [dbo].[ThongTinKhach]([GhiChu]) WITH STATS_STREAM = 0x010000000100000000000000000000009F8A6D0D000000000B02000000000000CB01000000000000E7020020E7000000640000000000000008D000340020002007000000974EC4007BA7000008000000000000000800000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000100000000000E03F000000410000803F0000E03F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000210000000000000057000000000000005F000000000000000800000000000000300010000000E040000000000000803F040000010019003100FF01000000010000000800000002000000280000002800000000000000000000000100000031000200000040000000000701000000000800000000000000
GO
/****** Object:  Statistic [PK_ThongTinKhach]    Script Date: 5/19/2019 1:29:48 AM ******/
UPDATE STATISTICS [dbo].[ThongTinKhach]([PK_ThongTinKhach]) WITH STATS_STREAM = 0x01000000010000000000000000000000FEFD4433000000002303000000000000E302000000000000EF030000EF000000140000000000000008D0003400000000070000007FD4570167A70000070000000000000007000000000000000000803F2549123E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000040000000400000001000000240000000000A0410000E040000000000000A041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000BC000000000000006F010000000000007701000000000000200000000000000047000000000000006E000000000000009500000000000000100024000000803F000000000000803F4B00540030003000310020002000200020002000040000100024000000803F0000803F0000803F4B00540030003000330020002000200020002000040000100024000000803F0000803F0000803F4B00540030003000350020002000200020002000040000100024000000803F0000803F0000803F4B00540030003000370020002000200020002000040000FF01000000000000000700000007000000280000002800000000000000000000002E0000004B005400300030003100200020002000200020003200200020002000200020003300200020002000200020003400200020002000200020003500200020002000200020003600200020002000200020003700200020002000200020000900000040000000004004000000810604000081060A00008106100000810616000081061C000081062200000106280000000700000000000000, ROWCOUNT = 11, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_0F975522]    Script Date: 5/19/2019 1:29:48 AM ******/
CREATE STATISTICS [_WA_Sys_00000002_0F975522] ON [dbo].[ThongTinThuePhong]([MaKhachTro]) WITH STATS_STREAM = 0x0100000001000000000000000000000017D1AEE100000000C1020000000000008102000000000000EF037E6BEF000000140000000000000008D000340000803F070000007FD4570167A70000040000000000000004000000000000000000803F0000803E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030000000300000001000000240000000000A04100008040000000000000A0410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000008D000000000000000D01000000000000150100000000000018000000000000003F000000000000006600000000000000100024000000803F000000000000803F4B00540030003000310020002000200020002000040000100024000000803F0000803F0000803F4B00540030003000330020002000200020002000040000100024000000803F000000000000803F4B00540030003000340020002000200020002000040000FF01000000000000000400000004000000280000002800000000000000000000001C0000004B005400300030003100200020002000200020003200200020002000200020003300200020002000200020003400200020002000200020000600000040000000004004000000810604000081060A000081061000000106160000000400000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_0F975522]    Script Date: 5/19/2019 1:29:48 AM ******/
CREATE STATISTICS [_WA_Sys_00000003_0F975522] ON [dbo].[ThongTinThuePhong]([MaPhong]) WITH STATS_STREAM = 0x010000000100000000000000000000000E6CA1C500000000BD020000000000007D02000000000000EF030000EF000000140000000000000008D00034EF000000070000007BD4570167A700000400000000000000040000000000000000000000ABAAAA3E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030000000300000001000000240000000000A04100008040000000000000A0410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000008D000000000000000901000000000000110100000000000018000000000000003F000000000000006600000000000000100024000000803F000000000000803F5100310032004100300031002000200020002000040000100024000000803F000000000000803F51004200540041003000310020002000200020000400001000240000000040000000000000803F5100420054004200300032002000200020002000040000FF01000000000000000400000003000000280000002800000000000000000000001A000000510031003200410030003100200020002000200042005400410030003100200020002000200042003000320020002000200020000600000040000000004001000000810901000040020A000081070C00000207130000000400000000000000
GO
/****** Object:  Statistic [PK_ThongTinThuePhong_1]    Script Date: 5/19/2019 1:29:48 AM ******/
UPDATE STATISTICS [dbo].[ThongTinThuePhong]([PK_ThongTinThuePhong_1]) WITH STATS_STREAM = 0x01000000020000000000000000000000E542D3750000000058000000000000000000000000000000EF030010EF000000140000000000000008D0003400420054EF030030EF000000140000000000000008D0003424000000, ROWCOUNT = 8, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_TraPhong]    Script Date: 5/19/2019 1:29:48 AM ******/
UPDATE STATISTICS [dbo].[TraPhong]([PK_TraPhong]) WITH STATS_STREAM = 0x010000000100000000000000000000000E23E3300000000040000000000000000000000000000000380300003800000004000A000000000000000000FFFFFFFF, ROWCOUNT = 0, PAGECOUNT = 0
GO
USE [master]
GO
